<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.modules.wxapp.mapper.LottoPrizeMapper">

    <select id="queryPrizesByLottoIdOrLottoNo" resultType="java.util.LinkedHashMap">
        SELECT id, name, type, img_url AS img , num,sort FROM wx_prize WHERE (lotto_no = #{idOrNo} OR lotto_id = #{idOrNo}) AND  status = 0 ORDER BY sort ASC
    </select>
</mapper>