<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.modules.wxapp.mapper.LottoPlayerMapper">

    <!--根据活动id 或 活动编号 查询参与活动人员-->
    <select id="queryPlayersByLottoIdOrLottoNo" resultType="java.util.LinkedHashMap">
        SELECT id,nick_name AS nickName,avatar_url AS avatarUrl,DATE_FORMAT(create_time,'%Y-%m-%d %h:%i') AS createTime FROM wx_player
        WHERE (lotto_no = #{idOrNo} or lotto_id = #{idOrNo}) AND  status = 0 ORDER BY create_time DESC
    </select>

    <!--查询 我参与的/我中奖的 活动列表 type == 1  查询我中奖的 -->
    <select id="queryMyJoinOrWin" resultType="java.util.Map">
        SELECT l.id,l.lotto_no, l.banner, l.open_type AS  openType , DATE_FORMAT(p.create_time,'%Y-%m-%d %h:%i') AS createTime, l.view_num AS viewNum,
        l.join_num AS joinNum ,u.avatar_url as avatarUrl,l.nick_name as nickName
        FROM wx_player p  LEFT JOIN wx_lotto_info l ON p.lotto_id = l.id
        <if test="type==1">
            AND p.is_win = 1
        </if>
        LEFT JOIN wx_user u ON u.wx_no = l.create_by
        WHERE p.wx_no = #{wxNo} AND l.status = 0 ORDER BY p.create_time DESC
    </select>

    <!--查询我的卡券-->
    <select id="queryMyCard" resultType="java.util.Map">
        SELECT id, prize_img as img ,lotto_no AS lottoNo,prize_name AS name ,status,wx_no as wxNo,nick_name as nickName, is_used as isUsed, avatar_url AS  avatarUrl, name,DATE_FORMAT(create_time,'%Y-%m-%d %h:%i') AS createTime FROM wx_player where
        wx_no = #{wxNo} AND type = #{type} and <![CDATA[ is_win = 1  ]]>  AND  <![CDATA[ status < 2  ]]> ORDER BY is_used ASC ,create_time DESC
    </select>

    <!--检查是否已参与 该抽奖 -->
    <select id="checkIsHaveJoinLotto" resultType="java.lang.Integer">
        SELECT count(1) FROM wx_player WHERE wx_no = #{wxNo} AND lotto_id = #{lottoId} AND status = 0
    </select>

    <!--查询卡券信息-->
    <select id="findPlayerInfo" resultType="java.util.Map">
        SELECT p.id, u.avatar_url,u.nick_name,p.address,p.tel,p.name, p.prize_img AS img ,p.prize_name AS  prizeName,DATE_FORMAT(p.create_time,'%Y-%m-%d %h:%i') AS createTime FROM wx_player p LEFT JOIN wx_user u ON u.wx_no = p.wx_no WHERE p.is_used=0 AND p.lotto_no = #{lottoNo} AND p.wx_no = #{wxNo} AND  <![CDATA[ p.status < 2  ]]>
    </select>

</mapper>