<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.modules.wxapp.mapper.LottoContentMapper">

    <select id="queryContentsByLottoIdOrLottoNo" resultType="java.util.Map">
        SELECT type,content,sort FROM wx_content WHERE (lotto_id = #{idOrNo} or lotto_no = #{idOrNo}) AND status = 0 ORDER BY sort ASC
    </select>
</mapper>